<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @option.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @option.amount %>
</p>

<p>
  <strong>On_what:</strong>
  <%= @option.on_what %>
</p>

<p>
  <strong>Amount2:</strong>
  <%= @option.amount2 %>
</p>

<p>
  <strong>On_what2:</strong>
  <%= @option.on_what2 %>
</p>

<p>
  <strong>Event:</strong>
  <%= @option.event_id %>
</p>

<p>
  <strong>Min resilience:</strong>
  <%= @option.min_resilience %>
</p>

<p>
  <strong>Min budget:</strong>
  <%= @option.min_budget %>
</p>

<p>
  <strong>Min civ num:</strong>
  <%= @option.min_civ_num %>
</p>

<p>
  <strong>Min reg rel:</strong>
  <%= @option.min_reg_rel %>
</p>

<p>
  <strong>Min agriculture:</strong>
  <%= @option.min_agriculture %>
</p>

<p>
  <strong>Min education:</strong>
  <%= @option.min_education %>
</p>

<p>
  <strong>Min security:</strong>
  <%= @option.min_security %>
</p>

<p>
  <strong>Min comms:</strong>
  <%= @option.min_comms %>
</p>

<p>
  <strong>Min social sec:</strong>
  <%= @option.min_social_sec %>
</p>

<p>
  <strong>Min health:</strong>
  <%= @option.min_health %>
</p>

<p>
  <strong>Min water:</strong>
  <%= @option.min_water %>
</p>

<p>
  <strong>Min energy:</strong>
  <%= @option.min_energy %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
