<div class="card js-bottom-margin bg-light">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    <%= render "options" %>
    <%= link_to I18n.t("event.show.lose"), { controller: "countries", action: "show", id: params[:country_id], lose: true, turn: true }, class: "btn btn-warning mt-4" %>
  </div>
</div>

<% if admin_signed_in? %>
  <p>
    <strong>Min deg:</strong>
    <%= @event.min_deg %>
  </p>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Back', events_path %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  nav_height = $("nav").outerHeight()
  $(".js-bottom-margin").css("margin-bottom", nav_height)
});
</script>
