<div class="card js-bottom-margin bg-light">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    <% @event.options.each do |option| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= option.title %></h5>
          <p class="card-text"><%= "#{option.amount} #{Country.human_attribute_name(option.on_what)}" %></p>
          <% if params[:country_id] && Country.find(params[:country_id]).is_option_available(option) %>
            <%= link_to I18n.t("event.show.choose_option"), { controller: "countries", action: "show", id: params[:country_id], option_id: option.id, turn: true }, class: "btn btn-primary" %>
          <% else %>
            <a href="#" class="btn btn-secondary disabled"><%= I18n.t("event.show.choose_option") %></a> <br>
            <%= I18n.t("event.show.requirements") %>:
            <%= tag(:br) + Country.human_attribute_name(:resilience) + " - " +  reshash[option.min_resilience.to_sym] + " "   if option.read_attribute_before_type_cast(:min_resilience) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:budget) + " - " +      option.min_budget.to_s + " " + I18n.t("event.show.million")      if option.read_attribute_before_type_cast(:min_budget) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:civ_num) + " - " +     option.min_civ_num     if option.read_attribute_before_type_cast(:min_civ_num) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:reg_rel) + " - " +     reghash[option.min_reg_rel.to_sym]     if option.read_attribute_before_type_cast(:min_reg_rel) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:agriculture) + " - " + agrihash[option.min_agriculture.to_sym].split[0] if option.read_attribute_before_type_cast(:min_agriculture) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:education) + " - " +   eduhash[option.min_education.to_sym].split[0] if option.read_attribute_before_type_cast(:min_education) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:security) + " - " +    securityhash[option.min_security.to_sym].split[0]    if option.read_attribute_before_type_cast(:min_security) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:comms) + " - " +       commshash[option.min_comms.to_sym].split[0]       if option.read_attribute_before_type_cast(:min_comms) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:social_sec) + " - " +  social_sechash[option.min_social_sec.to_sym].split[0]  if option.read_attribute_before_type_cast(:min_social_sec) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:health) + " - " +      healthhash[option.min_health.to_sym].split[0]      if option.read_attribute_before_type_cast(:min_health) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:water) + " - " +       waterhash[option.min_water.to_sym].split[0]       if option.read_attribute_before_type_cast(:min_water) > 0 %>
            <%= tag(:br) + Country.human_attribute_name(:energy) + " - " +      energyhash[option.min_energy.to_sym].split[0]      if option.read_attribute_before_type_cast(:min_energy) > 0 %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to I18n.t("event.show.lose"), { controller: "countries", action: "show", id: params[:country_id], lose: true, turn: true }, class: "btn btn-warning mt-4" %>
  </div>
</div>

<% if admin_signed_in? %>
  <p>
    <strong>Min deg:</strong>
    <%= @event.min_deg %>
  </p>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Back', events_path %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  nav_height = $("nav").outerHeight()
  $(".js-bottom-margin").css("margin-bottom", nav_height)
});
</script>
