<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Min deg:</strong>
  <%= @event.min_deg %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= link_to 'Next Turn', event_path(@event, country_id: params[:country_id]), class: "btn btn-success" %>
