<div class="card js-bottom-margin">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    <% @event.options.each do |option| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= option.title %></h5>
          <p class="card-text"><%= "Consequence: #{option.amount} #{option.on_what}" %></p>
          <% if params[:country_id] && Country.find(params[:country_id]).is_option_available(option) %>
            <%= link_to 'Choose Option', { controller: "countries", action: "show", id: params[:country_id], option_id: option.id, turn: true }, class: "btn btn-primary" %>
          <% else %>
            <a href="#" class="btn btn-primary disabled">Choose Option</a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if admin_signed_in? %>
  <p>
    <strong>Min deg:</strong>
    <%= @event.min_deg %>
  </p>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Back', events_path %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  nav_height = $("nav").outerHeight()
  $(".js-bottom-margin").css("margin-bottom", nav_height)
});
</script>
