<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Resilience:</strong>
  <%= @country.resilience %>
</p>

<p>
  <strong>Init civ:</strong>
  <%= @country.init_civ %>
</p>

<p>
  <strong>Civ num:</strong>
  <%= @country.civ_num %>
</p>

<p>
  <strong>Deg:</strong>
  <%= @country.deg %>
</p>

<p>
  <strong>Life level:</strong>
  <%= @country.life_level %>
</p>

<p>
  <strong>Score:</strong>
  <%= @country.score %>
</p>

<p>
  <strong>Year:</strong>
  <%= @country.year %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @country.budget %>
</p>

<p>
  <strong>Reg rel:</strong>
  <%= @country.reg_rel %>
</p>

<p>
  <strong>Is conquered:</strong>
  <%= @country.is_conquered %>
</p>

<p>
  <strong>Agriculture:</strong>
  <%= @country.agriculture %>
</p>

<p>
  <strong>Education:</strong>
  <%= @country.education %>
</p>

<p>
  <strong>Security:</strong>
  <%= @country.security %>
</p>

<p>
  <strong>Comms:</strong>
  <%= @country.comms %>
</p>

<p>
  <strong>Social sec:</strong>
  <%= @country.social_sec %>
</p>

<p>
  <strong>Health:</strong>
  <%= @country.health %>
</p>

<p>
  <strong>Water:</strong>
  <%= @country.water %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @country.energy %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
