<h1><%= t ".title" %></h1>
<p><%= t ".description" %></p>
<%= form_with(url: ministers_path, method: "get", local: true) do %>
  <%= label_tag(:game, I18n.t("application.home_page.players")) %>
  <%= text_field_tag(:game) %>
  <%= submit_tag(I18n.t("application.home_page.new_game")) %>
<% end %>
<p><%= t('.minister_count', count: Minister.count) %></p>
<%# link_to "New Game", new_country_path %>
