<footer class="footer">
  <% if params[:country_id] %>
    <div>
      <% country = Country.find(params[:country_id]) %>
      <strong>Name:</strong>            <%= country.name %>
      <strong>Year:</strong>            <%= country.year %>
      <strong>Current Degree:</strong>  <%= country.deg %>
      <strong>Citizens Alive:</strong>  <%= country.civ_num %>
      <strong>Life level:</strong>      <%= country.life_level %>
      <strong>Budget:</strong>          <%= country.budget %>
    </div>
    <div>
    <strong>Resilience:</strong>        <%= country.resilience %>
    <strong>Reg rel:</strong>           <%= country.reg_rel %>
    <strong>Agriculture:</strong>       <%= country.agriculture %>
    <strong>Education:</strong>         <%= country.education %>
    <strong>Security:</strong>          <%= country.security %>
    <strong>Comms:</strong>             <%= country.comms %>
    <strong>Social sec:</strong>        <%= country.social_sec %>
    <strong>Health:</strong>            <%= country.health %>
    <strong>Water:</strong>             <%= country.water %>
    <strong>Energy:</strong>            <%= country.energy %>
    </div>
  <% end %>
</footer>
