<% if params[:country_id] %>
  <% country = Country.find(params[:country_id]) %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" dir="rtl">
    <div class="d-flex flex-column bd-highlight w-100  line-height-1">
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight w-100">
          <div class="pr-2 bd-highlight flex-fill "><div class="navbar-brand font-bold" ><%= country.name %></div></div>
          <div class="pr-2 bd-highlight flex-fill "><i class="material-icons">access_time</i><%= country.year %></div>
          <div class="pr-2 bd-highlight flex-fill "><strong><i class="material-icons">people_outline</i></strong><%= country.civ_num %></div>
          <div class="pr-2 bd-highlight flex-fill "><strong><i class="material-icons">attach_money</i></strong><%= country.budget %></div>
        </div>
      </div>
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight">
          <div class="pr-2 bd-highlight flex-fill"><strong>התחממות:</strong>  <%= country.deg %>°C</div>
          <div class="pr-2 bd-highlight flex-fill"><strong>איכות חיים:</strong>      <%= country.life_level %></div>
          <div class="pr-2 bd-highlight flex-fill">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
              <i class="material-icons" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">menu</i>
            <!-- </button> -->
          </div>
        </div>
      </div>
    </div>
<% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
