<% if params[:country_id] %>
  <% country = Country.find(params[:country_id]) %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom shadow p-0" dir="rtl">
    <div class="d-flex flex-column bd-highlight w-100  line-height-1">
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight w-100">
          <div class="m-0 bd-highlight flex-fill navbar-brand py-1 font-bold w-25  text-center"><%= country.name %></div>

        </div>
      </div>
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight">
          <% if country.resilience == "civil_war" || country.reg_rel == "war" %>
          <div class="pr-2 bd-highlight flex-fill" id="warning"><strong><i class="material-icons text-danger">warning</i></strong></div>
          <% end %>
          <div class="bd-highlight flex-fill w-25 text-center py-1"><%= country.deg %>°C</div>
          <div class="bd-highlight flex-fill w-25 text-center py-1">⏲<%= country.year %></div>
          <div class="bd-highlight flex-fill w-25 text-center py-1">&#128697;<%= country.civ_num %>M</div>
          <div class="bd-highlight flex-fill w-25 text-center py-1 ltr"><%= country.budget %>M$</div>
          <div class="bd-highlight flex-fill text-center py-1" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">menu</i>
          </div>
        </div>
      </div>
    </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="d-flex flex-row">
        <div class="p-2 d-flex flex-column w-50">
          <div class="nav-item active">
            <% if country.resilience == "civil_war" %>
              <strong><%= Country.human_attribute_name(:resilience) %>:</strong>           <span class="reg-res"><%= reshash[country.resilience.to_sym] %> (<%= I18n.t("navbar.wars") %>)</span>
            <% else %>
              <strong><%= Country.human_attribute_name(:resilience) %>:</strong>           <span class="reg-res"><%= reshash[country.resilience.to_sym].split[0] %></span>
            <% end %>
          </div>
          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:agriculture) %>:</strong>       <span class="hash"><%= agrihash[country.agriculture.to_sym].split[0] %></span>
          </div>
          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:security) %>:</strong>          <span class="hash"><%= securityhash[country.security.to_sym].split[0] %></span>
          </div>
          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:social_sec) %>:</strong>        <span class="hash"><%= social_sechash[country.social_sec.to_sym].split[0] %></span>
          </div>
          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:water) %>:</strong>             <span class="hash"><%= waterhash[country.water.to_sym].split[0] %></span>
          </div>
        </div>
        <div class="p-2 d-flex flex-column w-50">
          <div class="nav-item">
            <% if country.reg_rel == "war" %>
              <strong><%= Country.human_attribute_name(:reg_rel) %>:</strong>           <span class="reg-res"><%= reghash[country.reg_rel.to_sym] %> (<%= I18n.t("navbar.wars") %>)</span>
            <% else %>
              <strong><%= Country.human_attribute_name(:reg_rel) %>:</strong>         <span class="reg-res"><%= reghash[country.reg_rel.to_sym].split[0] %></span>
            <% end %>
          </div>
          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:education) %>:</strong>         <span class="hash"><%= eduhash[country.education.to_sym].split[0] %></span>
          </div>

          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:comms) %>:</strong>             <span class="hash"><%= commshash[country.comms.to_sym].split[0] %></span>
          </div>

          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:health) %>:</strong>            <span class="hash"><%= healthhash[country.health.to_sym].split[0] %></span>
          </div>

          <div class="nav-item">
            <strong><%= Country.human_attribute_name(:energy) %>:</strong>            <span class="hash"><%= energyhash[country.energy.to_sym].split[0] %></span>
          </div>
        </div>
      </div>
    </div>
</nav>

<script type="text/javascript">
  $(".hash").each(function(){
    html = $(this).html()
    switch(html) {
    case "גבוה":
      $(this).addClass('text-success')
      break;
    case "נמוך":
      $(this).addClass('text-danger')
      break;
    default:
    }
  })
  $(".reg-res").each(function(){
    html = $(this).html()
    if (html == "מצויין" || html == "טוב") {
      $(this).addClass('text-success')
    }
    else if (html == "נייטרלי"){
      $(this).addClass('text-black')
    }
    else {
      $(this).addClass('text-danger')
    }
    
  })
</script>
<% end %>
