<% if params[:country_id] %>
  <% country = Country.find(params[:country_id]) %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" dir="rtl">
    <div class="d-flex flex-column bd-highlight w-100  line-height-1">
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight w-100">
          <div class="pr-2 bd-highlight flex-fill "><div class="navbar-brand font-bold" ><%= country.name %></div></div>
          <div class="pr-2 bd-highlight flex-fill "><i class="material-icons">access_time</i><%= country.year %></div>
          <div class="pr-2 bd-highlight flex-fill "><strong><i class="material-icons">people_outline</i></strong><%= country.civ_num %></div>
          <div class="pr-2 bd-highlight flex-fill "><strong><i class="material-icons">attach_money</i></strong><%= country.budget %></div>
        </div>
      </div>
      <div class="bd-highlight w-100">
        <div class="d-flex flex-row bd-highlight">
          <div class="pr-2 bd-highlight flex-fill"><strong>התחממות:</strong>  <%= country.deg %>°C</div>
          <div class="pr-2 bd-highlight flex-fill"><strong>איכות חיים:</strong>      <%= country.life_level %></div>
          <div class="pr-2 bd-highlight flex-fill">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
              <i class="material-icons" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">menu</i>
            <!-- </button> -->
          </div>
        </div>
      </div>
    </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if country.resilience == "civil_war" %>
        <strong>Resilience:</strong>           <span style="color: red"><%= country.resilience %> (civ_num and budget declining)</span>
        <% else %>
        <strong>Resilience:</strong>           <%= country.resilience %>
        <% end %>
      </li>
      <li class="nav-item active">
        <% if country.reg_rel == "war" %>
        <strong>Reg rel:</strong>           <span style="color: red"><%= country.reg_rel %> (civ_num and budget declining)</span>
        <% else %>
        <strong>Reg rel:</strong>           <%= country.reg_rel %>
        <% end %>
      </li>
      <li class="nav-item active">
        <strong>Agriculture:</strong>       <%= country.agriculture %>
      </li>
      <li class="nav-item active">
        <strong>Education:</strong>         <%= country.education %>
      </li>
      <li class="nav-item active">
        <strong>Security:</strong>          <%= country.security %>
      </li>
      <li class="nav-item active">
        <strong>Comms:</strong>             <%= country.comms %>
      </li>
      <li class="nav-item active">
        <strong>Social sec:</strong>        <%= country.social_sec %>
      </li>
      <li class="nav-item active">
        <strong>Health:</strong>            <%= country.health %>
      </li>
      <li class="nav-item active">
        <strong>Water:</strong>             <%= country.water %>
      </li>
      <li class="nav-item active">
        <strong>Energy:</strong>            <%= country.energy %>
      </li>
      </div>
    </ul>

  </div>
</nav>
<% end %>
