<!DOCTYPE html>
<html lang="he">
  <head>
    <title>שינוי כיוון 2020</title>
    <meta property="og:title" content="שינוי כיוון 2020" />
    <meta property="og:description" content="חושבים שאתם יכולים לשמור על המדינה שלכם בחיים עד 2100?" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="<%# image_url('logo.png') %>" /> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

  <body>
    <div>
      <%= link_to 'Countries', countries_path %>
      <%= link_to 'Events', events_path %>
      <%= link_to 'Options', options_path %>
    </div>
    <%= yield %>

  </body>
</html>
