<!DOCTYPE html>
<html lang="he">
  <head>
    <title>שינוי כיוון 2020</title>
    <meta property="og:title" content="שינוי כיוון 2020" />
    <meta property="og:description" content="חושבים שאתם יכולים לשמור על המדינה שלכם בחיים עד 2100?" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="<%# image_url('logo.png') %>" /> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

  <body>
    <% if admin_signed_in? %>
      <div>
        Hello Admin! Here Are Some Cool Links:
        <%= link_to 'Home',         root_path %>
        <%= link_to 'Countries',    countries_path %>
        <%= link_to 'Events',       events_path %>
        <%= link_to 'Options',      options_path %>
        <%= link_to 'Ministers',    ministers_path %>
        <%= link_to 'Goals',        goals_path %>
        <%= link_to('Logout',       destroy_admin_session_path, method: :delete) %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/navbar' %>
    <div class="menu w-screen h-screen fixed-top bg-transparent p-5 ">
      <%= render 'layouts/data' %>
    </div>


  <script type="text/javascript">
 //  $(document).ready(function() {
 //   $("#exampleModal").modal();
 // });
 sdd = "sds"
  $(".menu").hide();
    $("#menu").click(function(event) {
      $(".menu").toggle();
    });
    $("#close").click(function(event) {
      $(".menu").hide();
    });
  </script>
</html>
