<!DOCTYPE html>
<html lang="he">
  <head>
    <title>זה משנה הכל: המשחק</title>
    <meta property="og:title" content="זה משנה הכל: המשחק" />
    <meta property="og:description" content="הקפיטליזם משמיד את כדור הארץ. חושבות שאתן יכולות להתמודד עם זה?" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('fenix.png') %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
    </head>

  <body class="bg-light">
    <% if admin_signed_in? %>
      <div>
        <%= link_to 'Home',         root_path %>
        <%= link_to 'Countries',    countries_path %>
        <%= link_to 'Events',       events_path %>
        <%= link_to 'Options',      options_path %>
        <%= link_to 'Ministers',    ministers_path %>
        <%= link_to 'Goals',        goals_path %>
        <%= link_to('Logout',       destroy_admin_session_path, method: :delete) %>
        <%= Fact.all.sample.content if Fact.first.present? %>
      </div>
    <% end %>

    <div class="" dir="rtl">
      <%= yield %>
    </div>
    <%= render 'layouts/navbar' %>
    <div class="menu w-screen h-screen fixed-top bg-transparent p-5 ">
      <%= render 'layouts/data' %>
    </div>


  <script type="text/javascript">
 //  $(document).ready(function() {
 //   $("#exampleModal").modal();
 // });
 sdd = "sds"
  $(".menu").hide();
    $("#menu").click(function(event) {
      $(".menu").toggle();
    });
    $("#close").click(function(event) {
      $(".menu").hide();
    });
  </script>
</html>
